 @charset "utf-8";

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	opacity: 0.95;
	top: 0;
	left: 0;
	z-index: 1000;
}
.loading img{
	width: 3.4rem;
	height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-1.5rem;
	margin-left: -1.7rem;
}
.mui-bar-nav~.mui-content{
	padding-top:1.2rem;
}
.header{
	width: 100%;
	height: 1.2rem;
	background: #fff;
}

.header .headerCon{
	border-top:1px solid #F5F5F5;
	width: 100%;
	height: 1.2rem;
	display: flex;
}

.header .userInfo{
	position: relative;
	flex: 1;
	
}

.header .followBtn{
	
	position: absolute;
	height: 0.6rem;
	width: 70px;
	line-height: 0.6rem;
	padding: 0;
	border: none;
	background: #FF5B40;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius:100px;
	z-index: 10;
	top: 50%;
	margin-top: -0.3rem;
	left: 0.8rem;
	overflow: hidden;
	transition: all .5s;
}

.header .followBtn.btnHidden{
	width: 0;
}




.header .userInfo .portrait{
	position: relative;
	z-index: 20;
	width: 0.9rem;
	height: 0.9rem;
 	margin-top: 0.15rem;
 	margin-left: 0.3rem;
 	
}
 .header .userInfo .portrait img{
 	height: 0.9rem;
 	width: 0.9rem;
 	border-radius:100%;
 }


.header .btns{
	flex: 1;
	
}

.header .toMap{
	float: right;
	background: none;
	border: none;
	height: 1rem;
	width: 1rem;
	background: url(../image/icon_map.png) no-repeat 50% 50%;
	background-size:0.6rem 0.6rem;
	border-radius:50%;
	margin-top: 0.1rem;
}

.header .toHome{
	background: none;
	border: none;
	height: 1rem;
	width: 1rem;
	float: right;
	margin-top: 0.1rem;
	margin-right: 10px;
	background: url(../image/home.png) no-repeat 50% 50%;
	background-size:0.6rem 0.6rem;
	border-radius:50%;
}





.header .ranking{
	position: absolute;
	top: 12.5rem;
	right: 0.3rem;
	height: 1.3rem;
	width: 1.3rem;
	border-radius:100%;
	z-index: 10;
	text-align: center;
	box-sizing: border-box;
    -webkit-box-shadow:-1px 3px 14px 0px #999999;
    box-shadow: -1px 3px 14px 0px #999999;
    padding-top: 0.6rem;
    background:#FFFFFF url(../image/icon_data2x.png) no-repeat 50% 20%;
    background-size:0.5rem 0.5rem;
}
.header .ranking p{
	font-size: 12px;
	color: #333333;
}

.mui-bar-tab{
	height: 1.4rem;
	box-shadow: none;
	background: #FFFFFF;
	border-top:1px solid #999999 ;
}

.mui-scroll-wrapper{
	top: 1.4rem;
}



.travelContent{
	background: #FFFFFF;
	padding: 0.3rem;
	padding-top: .4rem;
}
.travelContent .traveltitle{
	font-size: 0.5rem;
	color: #333333;
	line-height: 0.7rem;
}

.secondary{
	height: 26px;
	line-height: 26px;
}

.travelContent .secondary span{
	margin-right: 0.5rem;
	font-size: 12px;
	color: #666666;
}
.travelContent .secondary span.viewed{
	padding-left: 20px;
	background: url(../image/icon_look2x.png) no-repeat 0 30%;
	background-size:16px 10px;
}



.travelContent .secondary .scorebox{
	height: 26px;
	line-height: 23px;
	float: right;
	font-size: 12px;
	color: #666;
	text-align: right;
}
.travelContent .secondary .scorebox .score{
	font-size: 18px;
	font-weight: 600;
	color: #FF5B40;
	margin: 0;
	padding: 0;
	margin-left: 2px;
	
}


.travelContent .viaNav{
	height: 30px;
	line-height: 30px;
	width: 100%;
	display: flex;
}
.travelContent .viaNav li{
	flex: 1;
	font-size: 14px;
	color: #000000;
}
.travelContent .viaNav li:nth-child(1){
	text-align: left;
}
.travelContent .viaNav li:nth-child(2){
	text-align: center;
}
.travelContent .viaNav li:nth-child(3){
	text-align: right;
}
.travelContent .viaNav li .tujing{
	padding-left: 20px;
	background: url(../image/icon_pathway2x.png) no-repeat 0 30%;
	background-size:15px 15px;
}


.travelContent .cityList{
	position: relative;
	height: 2.5rem;
	width: 100%;
	background: url(../image/photomap2x.png) no-repeat 50% 50%;
	background-size:cover ;
}
.travelContent .citySwiper .swiper-slide{
	position: relative;
	border-top:1px  solid #FFFFFF;
	height: 2.5rem;
	text-align: center;
	font-size: 14px;
	color: #666666; 
}
.travelContent .citySwiper .swiper-slide .cityname{
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;	
}


.travelContent .citySwiper .swiper-button-prev{
	background-size:12px 25px ;
	left: -10px;
	opacity: 0.4;
}

.travelContent .citySwiper .swiper-button-next{
	background-size:12px 25px ;
	right: -10px;
	opacity: 0.4;
}


.travelContent .citySwiper .swiper-slide .date{
	margin-top: 0.6rem;
}

.travelContent .citySwiper .swiper-slide .line{
	position: absolute;
	display: block;
	width: 100%;
	border-top: 1px dashed #999999;
	margin-top: -1px;
	top: 50%;
	left: 0;
}
.travelContent .citySwiper .swiper-slide .line::after{
	position: absolute;
	content: '';
	display: block;
	height:8px;
	width: 8px;
	top: 50%;
	left: 50%;
    margin-top: -5px;
    margin-left: -4px;	
	border-radius:100%;
	background: #ff3843;
}

.dynamicContent{
margin-top: 8px;
background: #fff;	
}
 .dect{
 	width: 95%;
 	margin: auto;
 	background: #fff;
	font-size: 14px;
	color: #000;
	line-height: 20px;
	padding:20px 0;
	margin-bottom: 0;
	border-bottom: 1px solid #999999;
}	
.dynamicContent .dynamicList{
	border-top:1px solid #FFFFFF ;
	padding: 0 0.3rem;
	background: #FFFFFF;
}
.dynamicContent .dynamicList .dynamicItem{	
	position: relative;
	border-bottom: 1px solid #999999;
	padding-bottom: 8px;	
		
}
.dynamicContent .dynamicList .dynamicItem .downImage{
	position: absolute;
	display: block;
	height: 0.6rem;
	bottom: 0.3rem;
	right: 0.3rem;
	width: 1rem;
	height: 1rem;
	background: url(../image/icon_download2x.png) no-repeat 50% 50%;
	background-size:0.8rem 0.8rem;
	z-index: 6;
}
.dynamicContent .dynamicList .dynamicItem .dateInfo{
	height:30px;
	line-height: 48px;
	font-size: 12px;
	color: #999999;
}
.dynamicContent .dynamicList .dynamicItem .itemIndex{
	float: left;
	height: 21px;
	line-height: 21px;
	padding: 0 9px;
	color: #999;
	margin-top: 14px;
}
.dynamicContent .dynamicList .dynamicItem .tiem{
	float: right;
}
.dynamicContent .dynamicList .dynamicItem  .dynamicImg{
	position: relative;
	z-index: 5;
	overflow: hidden;
	width: 100%;
	height:auto;
	overflow: hidden;
	background-position:50% 50%;
	background-repeat:no-repeat ;	
}
.dynamicContent .dynamicList .dynamicItem  .dynamicImg img{
	width: 100%;
	border-radius:6px ;	
}
.dynamicContent .dynamicList .dynamicItem .address{
	font-size: 12px;
	line-height: 18px;
	color: #4DA9E4;
	
}
.dynamicContent .dynamicList .dynamicItem .address.disableds{
	color: #999;
}

.dynamicContent .dynamicList .dynamicItem .address.disableds .addressIcon{
	background: url(../image/address.png) no-repeat 50% 50%;
	background-size:22px 21px;
}

.dynamicContent .dynamicList .dynamicItem .address .addressIcon{
	display: inline-block;
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
	background: url(../image/icon_position2x.png?v=1.1) no-repeat 50% 50%;
	background-size:17px 17px;
}

.dynamicContent .dynamicList .dynamicItem .dynamicTxt{
	font-size: 14px;
	color: #333333;
	line-height: 24px;	
}

.commentsContent{
	padding: 0.3rem;
	background: #FFFFFF;
	padding-top: 0;
	padding-bottom: 1.4rem;
}
.commentsContent .giveALike{
	height:1.4rem;
	border-bottom: 1px solid gainsboro;
	display: flex;
}
.commentsContent .giveALike .zan{
	flex: 0 0 1rem;
	background: url(../image/icon_praise_pre2x.png) no-repeat 50% 50%;
	background-size:0.5rem 0.6rem ;
}
.commentsContent .giveALike .zanUser{
	flex: 1;
}
.commentsContent .giveALike .zanUser .userList{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.commentsContent .giveALike .zanUser .userList .userItem{
	height:0.7rem;
	width: 0.7rem;
	margin-right: 5px;
	float: left;
	margin-top: 0.35rem;
	background: url(../image/bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	border-radius:100%;
}

.commentsContent .giveALike .more{
	flex: 0 0 1rem;
	background: url(../image/icon_more22x.png) no-repeat 50% 50%;
	background-size:0.7rem 0.8rem ;
}

.commentsListContent .commentsList .commentsItem{
	width: 100%;
	min-height: 2.15rem;
	display: flex;
		
}
.commentsListContent .commentsList .commentsItem .userPortrait{
	flex: 0 0 1.5rem;
}
.commentsListContent .commentsList .commentsItem .userPortrait span{
	display: block;
	height: 0.9rem;
	width: 0.9rem;
	margin: auto;
	margin-top: 0.2rem;
	background: url(../image/bg.jpg) no-repeat 50% 50%;
	background-size:cover ;	
	border-radius:100% ;
}
.commentsListContent .commentsList .commentsItem .commentsTxt{
	flex: 1;
	border-bottom: 1px solid gainsboro;
}
.commentsListContent .commentsList .commentsItem .commentsTxt .commentInfo{
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding-top: 0.32rem;
}
.commentsListContent .commentsList .commentsItem .commentsTxt .commentInfo .userName{
	float: left;
	width: 50%;
	box-sizing: border-box;
	font-size: 12px;
	color: #fd5b42;
	text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap	
}
.commentsListContent .commentsList .commentsItem .commentsTxt .commentInfo .date{
	float: right;
	width: 50%;
	box-sizing: border-box;
	font-size: 12px;
	color: #999999;
	text-align: right;
}

.commentsListContent .commentsList .commentsItem .commentsTxt .commentContent{
	padding-top: 5px;
	font-size: 14px;
	color: #333333;
	line-height: 24px;

}
.commentsListContent .commentsList .commentsItem .commentsTxt .commentContent .name{
	font-size: 14px;
	color: #007AFF;
	padding: 0 5px;
}

.commentsListContent .commentsList .commentsItem:last-child .commentsTxt{
	border-bottom: none;
}

.loadMore{
	width: 100%;
	height: 50px;
	line-height: 30px;
	text-align: center;
	padding-top: 20px;
}

.loadMore .loadMoreBtn{
	position: relative;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #333333;	
}
.loadMore .loadMoreBtn span{
	display: inline-block;
	height: 30px;
	width: 20px;
	background: url(../image/icon_next2x.png) no-repeat 50% 50%;
	background-size:20px 20px ;
	position: absolute;
	top: 0;
	left: 62%;
}
.footerLsit{
	height:1.4rem ;
	width: 100%;
	display: flex;
	background: #FFFFFF;
}

.footerLsit li{
	position: relative;	
	padding-top: 0.3rem;
}
.footerLsit li p{
	text-align: center;
	font-size: 14px;
	color: #333333;
	height:1.4rem;
	line-height: 1.5rem;
	overflow: hidden;
}
.footerLsit li.comInput{
	flex: 1;
	text-align: center;
}
.footerLsit li.comInput .inputs{
	display: block;
	height: 0.9rem;
	line-height: 0.9rem;
	width: 80%;
	margin: auto;
	background: #efeff4;
	border-radius:100px ;
	background: #efeff4 url(../image/edit2x.png) no-repeat 10% 50%;
	background-size:25px 25px;
	font-size: 12px;
	color: #999999;
	box-sizing: border-box;
	text-align: left;
	padding-left:40px;
	
}


.footerLsit li.comTotality{
	flex: 0 0 50px;
	background: url(../image/icon_comments2x.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;
	
}


.footerLsit li.colTotality.notCollection{
	flex: 0 0 50px;
	background: url(../image/icon_collect2x.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;
	
}

.footerLsit li.colTotality{
	flex: 0 0 50px;
	background: url(../image/collect_press.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;
	
}

.footerLsit li.sartTotality{
	flex: 0 0 50px;
	background: url(../image/icon_score@2x.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;	
}

.footerLsit li.sartTotality.isSart{
	flex: 0 0 50px;
	background: url(../image/icon_score_press@2x.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;	
}

.footerLsit li.zanTotality{
	flex: 0 0 50px;
	background: url(../image/icon_praise2x.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;
	
}
.footerLsit li.zanTotality.isApplaud{
	background: url(../image/icon_praise_pre2x.png) no-repeat 50% 15%;
	background-size:0.8rem 0.8rem;	
}

.comment{
	position: fixed;
	height: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 1000;
	bottom: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.mui-backdrop{
	bottom: 4.5rem;
}

.comment .cheader{
	height: 1.2rem;
	background: #F5F5F5;
	display: flex;
	border-bottom: 1px solid gainsboro;
}
.comment .cheader p{
	box-sizing: border-box;
	color: #333333;
	font-size: 14px;
	padding-top: 0.4rem;
	flex: 1;
	text-align: center;
}
.comment .cheader p.closeBtnp{
	
	text-align: left;
	padding-left: 0.5rem;
}
.comment .cheader p .btn{
	background: none;
	border: none;
	padding: 0;
	color: #333333;
}
.comment .cheader p.sendBtnp{	
	text-align: right;
	padding-right: 0.5rem;
}

.comment #textarea{
	border: none;
	font-size: 14px;
}

.comment .mui-input-row{
	height:3.3rem;
}
.mui-popup{
	border-radius:5px;
}
.mui-popup-inner{
	border-radius:0;
}
.mui-popup-button{
	font-size: 14px;
	font-weight: normal;
	color: #333333;
}
.mui-popup-button:first-child{
	border-radius:0;
	
}
.mui-popup-button:last-child{
	border-radius:0;
	color: #dd524d;
}
.mui-bar{
	z-index: 11;
}
.stars{
	position: fixed;
	/*height: 9.8rem;*/
	height: 0;
	text-align: center;
	width: 100%;
	background: #FFFFFF;
	z-index: 1000;
	bottom: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.stars .sTitle{
	width: 100%;
	text-align: center;
	position: relative;
	font-size: 18px;
	color: #333333;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #DDDDDD;
}
.stars .sTitle .sColse{
	font-size: 24px;
	position: absolute;
	left: 2%;
	top: 50%;
	margin-top: -0.5rem;
	height: 1rem;
	width: 1rem;
}
.stars .scoreNum{
	height: 3.6rem;
	text-align: center;
	font-size: 3rem;
	color:#dd524d;
	line-height: 3.6rem;
}
.starsListContent{
	height: 0.8rem;
	width: 100%;
	background: #FFFFFF;
}
.starsListContent .starsList{
	width: 100%;
	height: 0.8rem;
	display: flex;
}
.starsListContent .starsList .star{
	flex: 1;
	background: url(../image/icon_score.png) no-repeat 50% 50%;
	background-size: 0.6rem 0.6rem;
}
.starsListContent .starsList .star.active{
	background: url(../image/icon_score_press.png) no-repeat 50% 50%;
	background-size: 0.6rem 0.6rem;	
}
.stars .instructions{
	margin-top: 0.6rem;
	text-align: center;
	font-size: 14px;
	color: #999999;
}
.stars .sSubmitbtn{
	background: #dd524d;
	color: #FFFFFF;
	font-size: 18px;
	width: 60%;
	margin-top:0.3rem ;
	margin: 0;
	padding: 0;
	height: 1rem;
	line-height: 1rem;
	border: 1px solid #dd524d;
}
.rankingListContent{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background:rgba(0,0,0,0.5);
}
.rankingListContent .rankList{
	height: 11.5rem;
	width:8.5rem;
	border-radius:5px;
	margin:auto;
	margin-top: 15%;
	background: #fff;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid #fff;
}
.rankingListContent .rankList .logo{
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
}
.rankingListContent .rankList .logo img{
	width: 2rem;
}
 
.rankingListContent .rankList .rtitle{
	position: relative;
	font-size: 16px;
	text-align: center;
	color: #dd524d;
	margin-top: 0.3rem;
}

.rankingListContent .rankList .rtitle .line{
	position: absolute;
	display: block;
	height: 6px;
	width: 6px;
	background:#dd524d;
	top: 50%;
	margin-top: -3px;
	border-radius:50% ;
}
.rankingListContent .rankList .rtitle .line.leftLine{
	left: 30%;
}
.rankingListContent .rankList .rtitle .line.leftLine::before{
	content: '';
	position: absolute;
	height: 1px;
	width: 2rem;
	background:#dd524d;
	top: 45%;
	left: -2rem;
	border-top-left-radius:6px ;
	border-bottom-left-radius:6px;
}

.rankingListContent .rankList .rtitle .line.rightLine{
	right: 30%;
}
.rankingListContent .rankList .rtitle .line.rightLine::before{
	content: '';
	position: absolute;
	height: 1px;
	width: 2rem;
	background:#dd524d;
	top: 45%;
	right: -2rem;
	border-top-left-radius:6px ;
	border-bottom-left-radius:6px;
}
.rankListUl {
	width: 100%;
	background: #FFFFFF;
	overflow: auto;
	height: 8rem;
}
.rankListUl .rankItem{
	height: 1.2rem;
	line-height: 1.2rem;
	display: flex;
}
.rankListUl .rankItem p{
	margin: 0;
	padding: 0;
	color: #333333;
}
.rankListUl .rankItem .rankIndex{
	flex: 0 0 40px;
	text-align: right;
	box-sizing: border-box;
	padding-right: 0.1rem;
}
.rankListUl .rankItem .rankimage{
	flex: 0 0 60px;
	text-align: center;
}
.rankListUl .rankItem .rankimage span{
	display: block;
	margin: auto;
	margin-top: 0.2rem;
	height: 0.8rem;
	width: 0.8rem;
	border-radius:100px;
	/*background: url(../image/bg.jpg) no-repeat 50% 50%;
	background-size:cover;*/
}
.rankListUl .rankItem .rankName{
	text-align: left;
	font-size: 16px;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.rankListUl .rankItem:nth-child(1) .rankIndex{
	color:#dd524d;
}
.rankListUl .rankItem:nth-child(2) .rankIndex{
	color:#dd524d;
}
.rankListUl .rankItem:nth-child(3) .rankIndex{
	color:#dd524d;
}

.rankListUl .rankItem .rankLike{
	text-align: right;
	font-size: 16px;
	flex:  0 0 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

 .rankListUl .rankItem .rankRight{
 	flex:  0 0 40px;
	background: url(../image/right.png) no-repeat 20% 50%;
	background-size:15px 15px; 	
 }
.colseRank{
	position: absolute;
	font-size: 36px;
	color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	top: 13.3rem;
	left: 50%;
	margin-left: -20px;
}
 .foll-btn{
 	display: none;
	position: absolute;
	bottom: -0.1rem;
	background: #FD5B42;
	color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	height: 26px;
	line-height: 26px;
	border-color:#FD5B42;
	font-size: 12px;
	left: 10px;
	min-width: 80px;
	z-index: 10;
}
 .foll-btn.listAdd{
 	display: block;
 }
 .foll-btn .icon{
	height: 26px;
	padding-left: 15px;
	display: inline-block;
	width: auto;
}
 .foll-btn .icon.gou{
	background: url(../image/gou.png) no-repeat 0 50%;
	background-size:12px 9px;
}
 .foll-btn .icon.xianghu{
	background: url(../image/xianghu.png) no-repeat 0 50%;
	background-size:12px 11px;
}
 .foll-btn .icon.jia{
	background: url(../image/jia.png) no-repeat 0 45%;
	background-size:12px 11px;
	padding-left: 16px;
}



 .foll-btn.fllowed{
	background: #fcf0f3;
	border-color:#fcf0f3 ;
	color: #FD5B42;
}
.footer{
	width: 100%;
	height: 1.4rem;
	background: #fff;
	padding: 0 10px;
}

.footer .headerCon{
	width: 100%;
	height: 1.4rem;
	display: flex;
}
.footer .headerCon .applogo{
	flex: 0 0 2.5rem;
}
.footer .headerCon .applogo img{
	margin-top: 0.2rem;
	width: 2.2rem;
}

.footer .headerCon .appTitle{
	flex: 1;
	line-height:1.4rem;
	color: #666666;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.footer .headerCon .downApp{
	flex: 0 0 2.5rem;
	text-align: right;
	font-size: 12px;	
	padding-top: 0.3rem;
}

.footer .headerCon .downApp .downBtn{
	border-radius:100px;
	padding-top: 0;
	padding-bottom: 0;
	height: 0.8rem;
	line-height: 0.8rem;
	top: 0;
}
.footer .ranking{
	position: absolute;
	top: 12.5rem;
	right: 0.3rem;
	height: 1.3rem;
	width: 1.3rem;
	border-radius:100%;
	z-index: 10;
	text-align: center;
	box-sizing: border-box;
    -webkit-box-shadow:-1px 3px 14px 0px #999999;
    box-shadow: -1px 3px 14px 0px #999999;
    padding-top: 0.6rem;
    background:#FFFFFF url(../image/icon_data2x.png) no-repeat 50% 20%;
    background-size:0.5rem 0.5rem;
}
.footer .ranking p{
	font-size: 12px;
	color: #333333;
}
